.services {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    background-color: #18212a;
    color: white;

    .cardHold {
        display: flex;
        gap: 80px;
        justify-content: center;
        align-items: center;
        padding: 60px 60px;
        

        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            //gap: 5px;
    
            .log {
                width: 50px;
                height: 50px;

            }

            p {
                width: 200px;
            }
        }
    }

}
