.topbar {
    width: 60%;
    height: 70px;
    background-color: #18212a;
    display: flex;
    color: white;
    justify-content: space-between;
    position: fixed;
    z-index: 99;

    .left {
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        flex: 2;
        flex-direction: column;

    .logo {
        
        height: 280px;
        width: 280px;
        margin-top: 50px;
        }
        .for {
            width: 100px;
           
        }
    }

    .right {
        display: flex;
       font-weight: 500;
        flex: 5;
        margin-top: 40px;
        margin-left: 15px;
        

        ul {
            display: flex;
            gap: 40px;
            list-style: none;
            color: white;
            align-items: center;
           

            li {
                color: white;
               

                a {
                    color: white;
                    text-decoration: none;
                    
                }
            }
        }
        
    }
}