.about {
    width: 100%;
    height: 100vh;
    background-color: #18212a;
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 62px;
        color: white;
        display: flex;
        justify-content: center;
    }


    .drown {
        width: 450px;
        height: 400px;
        margin-left: 400px;
        color: white;
        
        .imgs {
           display: flex;
           justify-content: flex-end;
            .img {
                width: 450px;
                height: 300px;
                
            }
            
            .icon {
                position: absolute;
                margin-top: 260px;
                margin-right: 10px;
                color: #18212a;
                background-color: white;
                border-radius: 50%;
                padding: 3px 3px;
            }
        }

        h5 {
            //margin-top: 20px;
            display: flex;
            color: gray;
        }
        h3 {
            display: flex;
            
        }
    }
}