.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - 70vh);
    background-color: #141c24;

    .left {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 20vh;
        margin-top: 20px;

        a {
            text-decoration: none;
            color: white;
            margin-left: 50px;
            padding: 13px;
            font-weight: 600;
        }
    }

    .right {
        display: flex;
        
        flex-direction: column;
        color: white;

        a {
            display: flex;
           
            
            text-decoration: none;
            color: white;
            padding: 13px;
            font-weight: 400;

            .icon {
                margin-left: 10px;
            }
        }
    }
    span {
        color: white;
        margin-top: 200px;
        
    }
}